.popup__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 238px;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin: 0 auto;
  padding-bottom: 13px;
}

/* .popup__input:first-child {
  margin-bottom: 30px;
}

.popup__input:nth-child(2) {
  margin-bottom: 45px;
} */

@media (min-width: 950px) {
  .popup__input {
    min-width: 358px;
  }
}

