.popup__container {
  width: 282px;
  height: 322px;
  background-color: #fff;
  z-index: 2;
  opacity: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 1280px) {
  .popup__container {
    width: 430px;
    height: 330px; 
  }
}