.header__logo {
  min-width: 103.74px;
  min-height: 24.4px;
  background-image: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: contain;

}

@media (min-width: 1280px) {
  .header__logo {
    min-width: 142px;
    min-height: 33px;
    padding-left: 0;
  }
}