.header {
  padding-top: 28px;
  padding-left: 27px;
  padding-bottom: 31.6px;
  min-width: 320px;
  max-width: 880px; 
  margin: 0 auto; 
}
/* .header::after {
  content:""; 
  border-bottom: 1px;
  border-color: #545454;
  opacity: 0.7; 
  min-width: 320px;
  border-style: solid;
} */

@media (min-width: 1280px) {
  .header {
    padding-top: 45px;
    padding-bottom: 41px;
    padding-left: 0;
  }
}