.popup__form-input-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  
  border: 0;
  width: 238px;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin: 0 auto 30px;
  padding-bottom: 10px;  

}

@media (min-width: 1044px) {
  .popup__form-input-name {
    width: 358px;
  }
}