.profile__img-edit-button {
  height: 7.5px;
  width: 7.5px;
  transform: translate(-15%, -55%);
}

@media (min-width: 950px) {
  .profile__img-edit-button {
    transform: translate(-1%, 0%);
    height: 10px;
    width: 10px;
  }
}
