@import url(../vendor/normalize.css);
@import url(../vendor/fonts/InterWeb/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__blok/profile__blok.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__img-edit-button/profile__img-edit-button.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__addbutton/profile__addbutton.css);
@import url(../blocks/profile/__img-addbutton/profile__img-addbutton.css);

@import url(../blocks/group/group.css);
@import url(../blocks/group/__elements/group__elements.css);
@import url(../blocks/group/__element/group__element.css);
@import url(../blocks/group/__img/group__img.css);
@import url(../blocks/group/_delete/group_delete.css);
@import url(../blocks/group/__info/group__info.css);
@import url(../blocks/group/__place/group__place.css);
@import url(../blocks/group/__heart/group__heart.css);
@import url(../blocks/group/__heart/_active/group__heart_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__creator/footer__creator.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);

@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__form-submit/popup__form-submit.css);
@import url(../blocks/popup/__form-submit/_disabled/popup__form-submit_disabled.css);
@import url(../blocks/popup/__close/popup__close.css);


@import url(../blocks/popup/_for_img/popup_for_img.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__container/_for_img/popup__container_for_img.css);
@import url(../blocks/popup/__close/_for_img/popup__close_for_img.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);


@import url(../blocks/smooth/smooth.css);