.group__heart {
  background-image: url(../../../images/heartVector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 19px;
  width: 22px;
  padding-right: 20px;
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
}


.group__heart:hover {
  opacity: .5;
}


