.profile__job {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 40px 30px;
}

@media (min-width: 950px) {
  .profile__job {
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
  }
}